<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <div style="width:1200px ; margin:0 auto">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Enter your name here..." style="width: 180px; height: 30px"><br><br>
            <label for="text">Comment:</label><br>
            <input type="text" name="text" placeholder="Enter your comment here..." style="width: 1200px; height: 300px"><br><br>
            <label for="image">Image:</label><br>
            <input type="file" name="img" style="width: 300px; height: 30px"><br><br>
            <div style="text-align: right">
                <input type="submit" value="Submit" style="width: 120px; height: 50px"><br>
            </div>
        </form> 
    
        {% for Comment in form %}
        <tr>
            <td><b>Name:</b>{{ Comment.name }}</td>
            <td>&nbsp;&nbsp;&nbsp;<b>Time:</b>{{ Comment.time }}</td><br>
            <td><b>Comment:</b>{{ Comment.text|safe|linebreaksbr}}</td><br>
            <td>
                {% if Comment.img %}
                <img width=120px height=120px src="{{ Comment.img.url }}">
                {% endif %}
            </td><br><hr>
        </tr>
        {% endfor %}

        {% if form.name.errors %}
        <ol>
            {% for error in form.name.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        {% if form.text.errors %}
        <ol>
            {% for error in form.text.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>
</body>
</html>